@import "base.scss";
@import "design.scss";
@import url('https://fonts.googleapis.com/css?family=Arvo|Fjalla+One');



body {
    background-color: $main-color;
    margin: 0px;
    padding: 0px;
    @include text-font;
}

.pageContent {
    overflow: hidden;
    width: 100%;
    
}

.container {
    max-width: 800px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {

    font-size: 2.5rem;
    @include header-font;
    margin: auto;
    text-align: center;
    color: $font-color1;
}

h2 {
    color: $font-color;
    font-size: 1rem;
    @include text-font;
    margin: auto;
    text-align: center;
}

.project-h1 {

    font-size: 2.5rem;
    @include header-font;
    margin: auto;
    text-align: center;
    color: $border-color1;
}

.text-design {
    font-size: 1.1rem;
    @include font-design-light;
    color: $font-color1;
}

.text-design2 {
    font-size: 1.1rem;
    @include font-design-dark;
    color: $border-color1;
}

.image-location {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: -260px;
}


.profile-picture {
    background-image: url("../images/profilepic.jpg");
    border-radius: 4px;
    height: 233px;
    margin: auto;
    margin-top: 10px;
    position: relative;
    width: 215px;
}

.about-me-button {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 25px;
    height: 35px;
    background: $sec-color;
    border-radius: 6px;
    border: 2px solid $font-color1;
    @include text-font;
    font-size: 1.4rem;
    color: $font-color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.about-me-button:hover {
    background-color: $font-color1;
    color: $main-color;
    cursor: pointer;
}

.project {
    margin-top: 50px;
    padding: 10px;
}

.project-image {
    background-image: url("../images/temp.png");
    border-radius: 2px;
    height: 150px;
    margin: auto;
    width: 141px;
}

.garden-app {
    background-image: url("../images/garden-app.png");
    border-radius: 2px;
    height: 150px;
    margin: auto;
    width: 141px;
}

.challenge-app {
    background-image: url("/images/challenge-site.png");
    border-radius: 2px;
    height: 150px;
    margin: auto;
    width: 141px;
}

.book-app {
    background-image: url("/images/book-app.png");
    border-radius: 2px;
    height: 150px;
    margin: auto;
    width: 141px;
}

// below needs refactored
.project-button {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 5px;
    height: 35px;
    background: $main-color;
    border-radius: 6px;
    border: 2px solid $border-color1;
    @include text-font;
    font-size: 1.4rem;
    color: $font-color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.project-button:hover {
    cursor: pointer;
    background-color: $border-color1;
    color: $main-color;
}

.flip {
    display: flex;
}

.input-box {
    padding-left: 5px;
    margin: auto;
    margin-top: 25px;
    display: block;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid $font-color1;
    background-color: $main-color;
    color: $font-color;
    font-size: 1.1rem;
    @include text-font;
}

textarea {
    padding-left: 5px;
    margin: auto;
    margin-top: 25px;
    display: block;
    width: 85%;
    border-radius: 5px;
    border: 2px solid $font-color1;
    background-color: $main-color;
    color: $font-color;
    height: 155px;
    @include text-font;
    font-size: 1.1rem;
}

.send-message-button {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: -100px;
    height: 35px;
    background: $sec-color;
    border-radius: 6px;
    border: 2px solid $font-color1;
    @include text-font;
    font-size: 1.4rem;
    color: $font-color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.send-message-button:hover {
    background-color: $font-color1;
    color: $main-color;
    cursor: pointer;
}

footer {
    border-top: 5px solid $border-color1;
    padding-top: 25px;
}

.box {
    width: 70px;
    margin: auto;
    justify-content: center;

}
.fa-twitter, .fa-linkedin-in, .fa-instagram {
    font-size: 4.2rem;
    text-align: center;
    color: $font-color;
}


.page-info {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    @include text-font;
    @include font-design-dark;
    font-size: 1.1rem;
    //font-weight: 1000;
    color: $border-color1;
}


@media only screen and (max-width: 768px) {
    .slope-container .slope {
        margin-bottom: -150px;
    }

    [class*="col-"] {
        width: 100%;
        padding-left: 5px;
    }
    .project-image {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .project-button, .about-me-button {
        width: 85%;
        margin-bottom: 20px
    }

    .flip {
        flex-direction: column-reverse;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    input {
        width: 80%;
    }
    
    textarea {
        width: 80%;
    }

    .send-message-button {
        width: 80%;
        margin-bottom: 30px;
    }

    .col-4 {
        width: 33.3%;
    }
    
    .page-info {
        padding-left: 20px;
        padding-right: 20px;
    }
}

